{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% blocktrans %}Hometalent.ch - Entraide à Genève{% endblocktrans %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/static/css/creative.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.0/css/bootstrap-select.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .services-list li {
            list-style: none;
            color: black;
            margin-bottom: 15px;
            border: 1px solid black;
            border-radius: 5px;
        }
        
        hr.secondary {
            border-color: white;
        }

        label[for='id_services'] {
            display: block;
        }

        #id_services {
            color:black;
            display: block;
            margin: auto;
        }

        .cb-slideshow,
        .cb-slideshow:after { 
            width: 100%;
            height: 850px;
            overflow: hidden;
            list-style-type: none;
            margin-top: 50px;
        }

        @media screen and (max-width: 1140px) { 
            .cb-slideshow,
            .cb-slideshow:after {
                height: 850px;
            }
        }
        @media screen and (max-width: 600px) { 
            .cb-slideshow,
            .cb-slideshow:after {
                height: 350px;
            }
        }

        .cb-slideshow li span { 
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            color: transparent;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: none;
            opacity: 0;
            z-index: 0;
            animation: imageAnimation 24s linear infinite 0s; 
        }

        .cb-slideshow li div { 
            z-index: 1000;
            position: absolute;
            bottom: 30px;
            left: 0px;
            width: 100%;
            text-align: center;
            opacity: 1;
            color: #fff;
            animation: titleAnimation 24s linear infinite 0s; 
        }

        .cb-slideshow li:nth-child(1) span { 
            background-image: url('/static/img/talents/jardinage.jpg') ;
        }
        .cb-slideshow li:nth-child(2) span { 
            background-image: url('/static/img/talents/ménage.jpg');
            animation-delay: 6s; 
        }
        .cb-slideshow li:nth-child(3) span { 
            background-image: url('/static/img/talents/meubles.jpg');
            animation-delay: 12s; 
        }
        .cb-slideshow li:nth-child(4) span { 
            background-image: url('/static/img/talents/plombier.jpg');
            animation-delay: 18s; 
        }

        .cb-slideshow li:nth-child(1) div { 
            animation-delay: 6s; 
        }
        .cb-slideshow li:nth-child(2) div { 
            animation-delay: 6s; 
        }
        .cb-slideshow li:nth-child(3) div { 
            animation-delay: 12s; 
        }
        .cb-slideshow li:nth-child(4) div { 
            animation-delay: 18s; 
        }

        @keyframes imageAnimation { 
            0% { opacity: 0; animation-timing-function: ease-in; }
            8% { opacity: 1; animation-timing-function: ease-out; }
            17% { opacity: 1 }
            25% { opacity: 0 }
            100% { opacity: 0 }
        }
        
        #homeDiv {
            position:absolute;
            top: 45%;
        }

        .alert-success {
            position: fixed;
            bottom: 0;
            margin: auto;
            left: 0;
            right: 0;
            width: 70%;
        }
        #select-lang {
            margin-top: 5px;
        }

        #select-lang label {
            font-weight: normal;
        }

        #select-lang input {
            display: none;
        }

        #fr:checked ~ label[for="fr"] {
            font-weight: bold;
        }

        #en:checked ~ label[for="en"] {
            font-weight: bold;
        }

        #calltoaction:hover {
            text-decoration: none;
        }
    </style>
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="../static/img/suisse.jpg" style="display:inline;" alt="suisse-flag" width="32" height="24"/>Hometalent.ch</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#header">{% trans "Home" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">{% trans "Services" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">{% trans "Contact" %}</a>
                    </li>
                    <li>
                        <form action="{% url 'set_language' %}" id="select-lang" method="post" onChange="this.submit();">{% csrf_token %}
                            {% get_current_language as LANGUAGE_CODE %}
                            <input type="radio" id="en" name="language" {% if "en" == LANGUAGE_CODE %} checked="checked"{% endif %} value="en"/><label for="en">EN</label>|
                            <input type="radio" id="fr" name="language" {% if "fr" == LANGUAGE_CODE %} checked="checked"{% endif %} value="fr"/><label for="fr">FR</label>
                        </form>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!--<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading"><span style="background-color:rgba(0,0,0,.75);">Besoin d'un coup de main?</span></h1>
                <hr>
                <p><span style="background-color:rgba(0,0,0,.75);">Hometalent vous trouve une personne fiable et compétente près de chez vous.</span></p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Découvrez le concept</a>
            </div>
        </div>
    </header>-->

    <header id="header">
        <ul class="cb-slideshow">
            <li>
                <span></span>
                <div id="homeDiv">
                    <h1 id="homeHeading">{% trans "De quel talent avez-vous besoin ?" %}</h1>
                    <a id="calltoaction"href="#talents" class="fa fa-chevron-circle-down fa-5x"></a>
                </div>
            </li>
            <li>
                <span></span>
                <div>
                </div>
            </li>
            <li>
                <span></span>
                <div>
                </div>
            </li>
            <li>
                <span></span>
                <div>
                </div>
            </li>
        </ul>
    </header>

    <aside id="talents">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>{% blocktrans %}En attendant le lancement de notre plateforme, partagez vos besoins et vos talents avec nous !{% endblocktrans %}</h2>
                <form method="POST" class="col-lg-6 post-form">
                    <h3>{% blocktrans %}Ce service m'intéresse{% endblocktrans %}</h3>
                    {{ asker_form.as_p }}
                    {% csrf_token %}
                    <button type="submit" name="userbutton" class="save btn btn-primary">{% blocktrans %}J'AI BESOIN D'AIDE !{% endblocktrans %}</button>
                </form>
                
                <form method="POST" class="col-lg-6 post-form">
                    <h3>{% blocktrans %}Ce service m'intéresse{% endblocktrans %}</h3>
                    {{ tasker_form.as_p }}
                    {% csrf_token %}
                    <button type="submit" name="offerbutton" class="save btn btn-primary">{% blocktrans %}JE PROPOSE MES SERVICES !{% endblocktrans %}</button>
                </form>
                
            </div>
        </div>
    </aside>

    <!--<section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Cette plateforme est à votre service !</h2>
                    <hr class="light">
                    <p class="text-faded">Vous avez besoin de quelqu'un pour faire le ménage ? Vous avez besoin de monter un meuble Ikea? Vous ne savez pas changer l'huile de votre voiture, mais ne souhaitez pas vous rendre dans un garage ? Vous avez un robinet qui fuit, mais aucun plombier n'est disponible ? Vous avez besoin d'aide pour descendre un meuble à la cave ? Hometalent est là pour vous ! </p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Commencez!</a>
                </div>
            </div>
        </div>
    </section>-->
    <aside class="bg-primary" id="services">
        <div class="container">
            <h3 class="text-center">{% blocktrans %}Hometalent vous trouve une personne fiable et compétente près de chez vous.{% endblocktrans %}</h3>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% blocktrans %}Services{% endblocktrans %}</h2>
                    <hr class="secondary">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-sm-6 text-center">
                    <ul class="list-group services-list">
                        <li class="list-group-item">{% blocktrans %}Bricolage{% endblocktrans %}</li>
                        <li class="list-group-item">{% blocktrans %}Jardinage{% endblocktrans %}</li>
                        <li class="list-group-item">{% blocktrans %}Déménagement{% endblocktrans %}</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <ul class="list-group services-list">
                        <li class="list-group-item">{% blocktrans %}Ménage/Repassage{% endblocktrans %}</li>
                        <li class="list-group-item">{% blocktrans %}Assemblage meuble{% endblocktrans %}</li>
                        <li class="list-group-item">{% blocktrans %}Informatique{% endblocktrans %}</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <ul class="list-group services-list">
                        <li class="list-group-item">{% blocktrans %}Coursier{% endblocktrans %}</li>
                        <li class="list-group-item">{% blocktrans %}Garde d'animaux{% endblocktrans %}</li>
                        <li class="list-group-item">{% blocktrans %}Evénementiel{% endblocktrans %}</li> 
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <ul class="list-group services-list">
                        <li class="list-group-item">{% blocktrans %}Administratif{% endblocktrans %}</li>
                        <li class="list-group-item">{% blocktrans %}Service à la personne{% endblocktrans %}</li>
                        <li class="list-group-item">{% blocktrans %}Mode, Beauté &amp; Bien-être{% endblocktrans %}</li>
                    </ul>
                </div>
                <!--<div class="col-lg-4 col-sm-6">
                    <a href="../static/img/portfolio/fullsize/building.jpg" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/building.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Architecte
                                </div>
                                <div class="project-name">
                                    Valider un plan, décoration d'intérieur...
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="../static/img/portfolio/fullsize/code.jpeg" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/code.jpeg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Programmation
                                </div>
                                <div class="project-name">
                                    Création de site, d'application, de programmes...
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="../static/img/portfolio/fullsize/chef.jpeg" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/chef.jpeg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Cuisine
                                </div>
                                <div class="project-name">
                                    Cuisine à domicile, locale et conviviale
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="../static/img/portfolio/fullsize/finance.jpeg" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/finance.jpeg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Finance
                                </div>
                                <div class="project-name">
                                    Remplir la déclaration, aide pour placements...
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="../static/img/portfolio/fullsize/garden.jpg" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/garden.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Jardinage
                                </div>
                                <div class="project-name">
                                    Tondre la pelouse, arroser, planter des arbres...
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="../static/img/portfolio/fullsize/tools.jpg" class="portfolio-box">
                        <img src="../static/img/portfolio/thumbnails/tools.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Bricolage
                                </div>
                                <div class="project-name">
                                    Monter des meubles Ikea, réparer une chaise...
                                </div>
                            </div>
                        </div>
                    </a>
                </div>-->
            </div>
            <h3 class="text-center">{% blocktrans %}Et plus encore ...{% endblocktrans %}</h3>
        </div>
    </aside>

    <aside id="avantages">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% blocktrans %}Quels avantages ?{% endblocktrans %}</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>{% blocktrans %}Qualité{% endblocktrans %}</h3>
                        <p class="text-muted">{% blocktrans %}Trouvez LE Talent qu'il vous faut, compétent, honnête et à un tarif raisonnable.{% endblocktrans %}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-clock-o text-primary sr-icons"></i>
                        <h3>{% blocktrans %}Flexibilité{% endblocktrans %}</h3>
                        <p class="text-muted">{% blocktrans %}Demandez de l'aide pour une heure ou pour toute une journée.{% endblocktrans %}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>{% blocktrans %}Rapidité{% endblocktrans %}</h3>
                        <p class="text-muted">{% blocktrans %}Voyez en temps réel qui est disponible et où.{% endblocktrans %}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-map-marker text-primary sr-icons"></i>
                        <h3>{% blocktrans %}Proximité{% endblocktrans %}</h3>
                        <p class="text-muted">{% blocktrans %}Echangez des services avec des personnes proches de chez vous.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <aside id="contact" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">{% blocktrans %}Contactez nous!{% endblocktrans %}</h2>
                    <hr class="primary">
                    <p>{% blocktrans %}Un avis ? Des questions ? Un commentaire ? Nous sommes à votre écoute.{% endblocktrans %}</p>
                </div>
                <div class="col-lg-2 col-lg-offset-2 text-center" >
                    <a href="https://www.facebook.com/hometalentCH" style="color:white;" target="_blank">
                        <i class="fa fa-facebook-square fa-3x sr-contact"></i>
                        <p>Facebook</p>
                    </a>
                </div>
                 <div class="col-lg-2 text-center">
                    <a href="https://www.instagram.com/hometalent/" style="color:white;" target="_blank">
                        <i class="fa fa-instagram fa-3x sr-contact"></i>
                        <p>Instagram</p>
                    </a>
                </div>
                <div class="col-lg-2 text-center">
                    <a href="https://twitter.com/HometalentCh" style="color:white;" target="_blank">
                        <i class="fa fa-twitter-square fa-3x sr-contact"></i>
                        <p>Twitter</p>
                    </a>
                </div>
                <div class="col-lg-2 text-center">
                    <a href="mailto:info@hometalent.ch" style="color:white;" >
                        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                        <p>info@hometalent.ch</p>
                    </a>
                </div>
            </div>
        </div>
    </aside>

    {% if sent == 'true' %}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {% blocktrans %}Merci pour votre participation! nous vous recontacterons dès l'ouverture du service{% endblocktrans %}
        </div>
        <script type="text/javascript">
            setTimeout(function() {
                $('.alert-success').fadeOut('slow');
            }, 5000); // <-- time in milliseconds
        </script>
    {% endif %}

    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/js/creative.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.0/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.0/js/i18n/defaults-en_US.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.0/js/i18n/defaults-fr_FR.min.js"></script>

    <!-- GA -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-8915365-8', 'auto');
      ga('send', 'pageview');
    </script>
</body>

</html>
